/*
* This is where all the styles go
*/
p{ line-height: 1em; }
h1, h2, h3, h4{
    color: grey;
	font-weight: bold;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 1.2em; }
h2{ font-size: 2.5em; }
a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

/* 
*/

body{
    font-family: times; font-size: 90%; line-height: 2.2em; width: 100%; margin: 0; background: #eee;
}

/* 
*/

#page{ margin: 30px; }

#logo{
	width: 25%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}

#nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a{
				padding: 10px;
				background: black;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #CCF2FC;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: 	grey; }

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 100%;
		color: black;
	}

ul li a{ box-shadow: 0px 1px 1px #999; }
